@import '@variables';
@import '@mixins';

.aliquam {
  max-width: 796px;
  margin: 0 auto;
  padding: 33px 24px 27px;
  text-align: center;

  @include desktop {
    padding: 54px 0 67px;
  }

  &Heading {
    margin-bottom: 9px;
    font-size: 24px;
    font-weight: 600;
    line-height: 34px;

    @include desktop {
      margin-bottom: 25px;
      font-size: 36px;
      line-height: 42px;
      letter-spacing: -0.436px;
    }
  }

  &Text {
    font-size: 15px;
    line-height: 22px;
    letter-spacing: -0.5px;

    @include desktop {
      font-size: 18px;
      line-height: 26px;
    }
  }
}
