$color_white: #FFFFFF;
$color_black: #000000;
$color_accent: #00600C;
$color_accent_bg: #EEFFF0;
$color_accent_darken: #033D0A;
$color_accent_lighten: #CFE9D5;
$color_accent_text: #36373D;

$content_max_width: 960px;